{% extends 'base_cvc_back.html.twig' %}

{% block title %}Nuevo Equipo - CVC{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h2 class="secondary-font-cvc">Nuevo Equipo</h2>
            </div>
        </div>
        {{ include('team/_form.html.twig') }}
    </div>
{% endblock %}
