@import url("https://use.typekit.net/wvo3ykm.css");

.bg-primary-cvc{
    background-color: var(--primary-color)!important;
}

.bg-secondary-cvc{
    background-color: var(--secondary-color)!important;
}

.bg-tertiary-cvc{
    background-color: var(--tertiary-color)!important;
}

.bg-quaternary-cvc{
    background-color: var(--quaternary-color)!important;
}

.text-primary-cvc{
    color: var(--primary-color)!important;
}

.text-secondary-cvc{
    color: var(--secondary-color)!important;
}

.text-tertiary-cvc{
    color: var(--tertiary-color)!important;
}

.text-quaternary-cvc{
    color: var(--quaternary-color)!important;
}

.primary-font-cvc{
    font-family: var(--primary-font)!important;
}
.secondary-font-cvc{
    font-family: var(--secondary-font) !important;
}
.tertiary-font-cvc{
    font-family: var(--tertiary-font)!important;
}
.quaternary-font-cvc{
    font-family: var(--quaternary-font)!important;
}

.primary-border-cvc{
    border-color: var(--primary-color)!important;
}
.secondary-border-cvc{
    border-color: var(--secondary-color) !important;
}
.tertiary-border-cvc{
    border-color: var(--tertiary-color)!important;
}
.quaternary-border-cvc{
    border-color: var(--quaternary-color)!important;
}
