:root {
    --primary-color: #42ab49;
    --secondary-color: #9dd6ad;
    --tertiary-color: #f5ffcb;
    --quaternary-color: #1a1a1a;
    --primary-font:raleway,normal;
    --secondary-font:alfarn-2,normal;
    --tertiary-font: bitter,normal;
    --quaternary-font:economica,normal;
}