{% extends 'base_cvc.html.twig' %}

{% block title %}Página de Inicio - CVC{% endblock %}

{% block body %}
    <div class="row py-4">
        <div class="col-12">
            <h1 class="display-3 secondary-font-cvc text-primary-cvc text-center">Lo sentimos esta página está fuera de servicio.</h1>
            <i class="bi bi-gear-wide"></i>
        </div>
    </div>
{% endblock %}
