{% extends 'base_cvc_back.html.twig' %}

{% block title %}Hello BackofficeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/src/Controller/BackofficeController.php</code></li>
        <li>Your template at <code>/var/www/html/templates/backoffice/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
