{% extends 'base_cvc.html.twig' %}

{% block title %}Página de Inicio - CVC{% endblock %}

{% block body %}
    <div class="row py-4">
        <div class="col-12">
            <h2 class="display-4 secondary-font-cvc text-primary-cvc text-center">Política de Cookies</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 primary-font-cvc">
            <div>
                <h3 class="secondary-font-cvc text-secondary-cvc">¿Qué son las cookies?</h3>
                <p>Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas ciertos sitios web. Nos permiten recordar tus acciones y preferencias (como inicio de sesión, idioma, tamaño de fuente y otras preferencias de visualización) durante un período de tiempo, para que no tengas que volver a configurarlas cada vez que regreses al sitio o navegues de una página a otra.</p>
            </div>
            <div>
                <h3 class="secondary-font-cvc text-secondary-cvc">¿Cómo utilizamos las cookies?</h3>
                <p>Nuestro sitio web utiliza cookies para diversas finalidades, entre ellas:</p>
                <ul>
                    <li>Recordar tus preferencias y configuraciones.</li>
                    <li>Mejorar la experiencia del usuario.</li>
                    <li>Analizar el tráfico y comportamiento en el sitio web.</li>
                    <li>Proveer contenido y anuncios personalizados.</li>
                </ul>
            </div>
            <div>
                <h3 class="secondary-font-cvc text-secondary-cvc">Tipos de cookies que utilizamos</h3>
                <ul>
                    <li><strong>Cookies esenciales:</strong> Estas cookies son necesarias para que el sitio web funcione correctamente y no se pueden desactivar en nuestros sistemas.</li>
                    <li><strong>Cookies de rendimiento:</strong> Estas cookies nos permiten contar las visitas y fuentes de tráfico para poder medir y mejorar el rendimiento de nuestro sitio.</li>
                    <li><strong>Cookies de funcionalidad:</strong> Estas cookies permiten que el sitio web proporcione una funcionalidad y personalización mejoradas.</li>
                    <li><strong>Cookies de publicidad:</strong> Estas cookies pueden ser establecidas a través de nuestro sitio por nuestros socios publicitarios.</li>
                </ul>
            </div>
            <div>
                <h3 class="secondary-font-cvc text-secondary-cvc">¿Cómo gestionar las cookies?</h3>
                <p>Puedes controlar y/o eliminar las cookies como desees. Para obtener más información, consulta <a href="https://www.aboutcookies.org/" class="text-primary-cvc">aboutcookies.org</a>. Puedes eliminar todas las cookies que ya están en tu ordenador y configurar la mayoría de los navegadores para que no se instalen. Sin embargo, si lo haces, es posible que tengas que ajustar manualmente algunas preferencias cada vez que visites un sitio y que algunos servicios y funcionalidades no funcionen.</p>
            </div>
        </div>
    </div>
{% endblock %}
