{% extends 'base_cvc.html.twig' %}

{% block title %}Página de Inicio - CVC{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 secondary-font-cvc text-primary-cvc text-center">Busca tus jugadores o equipos favoritos</h1>
        </div>
        <div class="col-12 p-4 my-3">
            <input type="text" name="home-searcher" placeholder="Busca aquí tus jugadores y equipos favoritos" class="form-control rounded-0">
            <div class="list-group rounded-0">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    The current link item
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    The current link item
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    The current link item
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    The current link item
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    The current link item
                </a>
            </div>
        </div>
    </div>
{% endblock %}
