{% extends 'base_cvc.html.twig' %}

{% block title %}Página de Inicio - CVC{% endblock %}

{% block body %}
    <div class="row py-5" data-controller="search">
        <div class="col-12">
            <h1 class="display-4 secondary-font-cvc text-primary-cvc text-center">Busca tus jugadores favoritos</h1>
        </div>
        <div class="col-12 p-4 my-3 text-quaternary-cvc">
            <div class="form-floating">
                <input type="text" id="indexSearcher" name="home-searcher" placeholder="Busca aquí tus jugadores favoritos" class="form-control text-light rounded-0 bg-quaternary-cvc" data-search-target="inputSearch" data-action="input->search#search">
                <label for="indexSearcher" class="text-light">Busca aquí tus jugadores favoritos</label>
            </div>
            <div class="list-group rounded-0" data-search-target="searchResults">
                {% include 'front/playersIndex.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
