<div class="row shadow py-3">
    <div class="col-12 col-sm-6 d-flex align-items-center bg-quaternary-cvc">
        <p class="navbar-brand primary-font-cvc">
            Javier Ramos Fuentes
        </p>
    </div>
    <div class="col-12 col-sm-6">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('src/logoCVC-300x100-verd.png') }}" alt="logo-cvc" width="100px">
        </a>
    </div>
</div>