<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-2 bg-primary-cvc">
            <div class="d-flex justify-content-center align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('src/logoCVC.png') }}" alt="logo-cvc">
                </a>
                <a class="navbar-brand" href="#">
                    <i class="bi bi-person"></i>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-2 bg-primary-cvc">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nosotros</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>