{% extends 'base_cvc.html.twig' %}

{% block title %}{{ object.name}} - CVC{% endblock %}

{% block body %}
    <div class="card cvc-card rounded-0 bg-tertiary-cvc position-relative border-0 my-5">
        <div class="bg-primary-cvc position-absolute px-4 z-1 h-100 cvc-card-line"></div>
        <div class="card-body z-2 container-fluid px-0">
            <div class="row m-0">
                <div class="col-2">
                </div>
                <div class="col-10">
                    <img src="{{ asset('src/png-silueta.png') }}" alt="shadow-player" class="mx-3">
                </div>
                <div class="col-12 bg-primary-cvc text-center">
                    <h5 class="card-title m-0 py-2">{{ object.name }}</h5>
                </div>
                <div class="col-2"></div>
                <div class="col-10 my-4">
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}