{% extends 'base_cvc_back.html.twig' %}

{% block title %}Nuevo Entrenador - CVC{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h2 class="secondary-font-cvc">Nuevo Entrenador</h2>
        </div>
    </div>
    {{ include('coach/_form.html.twig') }}
</div>
{% endblock %}
